{% extends 'base.j2' %}

{% block content %}
  <h2>Update Species</h2>
  <form>
    <div class="row g-2">
      <div class="col-md-2">
        <label for="pokedex-id" class="form-label">Pokedex Number</label>
        <input type="number" class="form-control" id="pokedex-id" required>
      </div>
      <div class="col-md">
        <label for="species" class="form-label">Species Name</label>
        <input type="text" class="form-control" id="species" required>
      </div>
    </div>
    <div class="row g-2">
      <div class="col-md-6">
        <label for="type" class="form-label">Primary Type</label>
        <select id="type" class="form-select">
          {% for type in types %}
            <option value="{{type}}">{{ type }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-md-6">
        <label for="secondary-type" class="form-label">Secondary Type</label>
        <select id="secondary-type" class="form-select">
          <option selected>None</option>
          {% for type in types %}
            <option value="{{type}}">{{ type }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Update Species</button>
  </form>
{% endblock %}