{% extends 'base.j2' %}

{% block content %}
  <h2>Update Battle</h2>
  <form action="/updatebattle/{{battle['battle_id']}}" method="post">
    <div class="form-group">
      <label for="date">Date</label>
      <input type="date" class="form-control" id="date" name="date" value="{{battle['date']}}" required>
    </div>
    <div class="form-group">
      <label for="location">Stadium</label>
      <select id="location" name="location" class="form-select">
        {% for location in locations %}
          {% if location.name == battle['location'] %}
            <option value="{{location.name}}" selected>{{location.name}}</option>
          {% else %}
            <option value="{{location.name}}">{{ location.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="winner">Winner</label>
      <select id="winner" name="winner" class="form-select">
        {% for trainer in trainers %}
          {% if trainer.name == battle['winner'] %}
            <option value="{{trainer.name}}" selected>{{trainer.name}}</option>
          {% else %}
            <option value="{{trainer.name}}">{{ trainer.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="loser">Loser</label>
      <select id="loser" name="loser" class="form-select">
        {% for trainer in trainers %}
          {% if trainer.name == battle['loser'] %}
            <option value="{{trainer.name}}" selected>{{trainer.name}}</option>
          {% else %}
            <option value="{{trainer.name}}">{{ trainer.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Update Battle</button>
  </form>
{% endblock %}