{% extends 'base.j2' %}

{% block content %}
  <h2>Update Stadium</h2>
  <form>
    <div class="form-row align-items-center">
      <div class="col-auto">
        <label class="sr-only" for="stadium-name">Stadium Name</label>
        <input type="text" class="form-control mb-2" id="stadium-name" placeholder="Stadium Name">
      </div>
      <div class="col-auto">
        <label class="sr-only" for="location">Location</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input type="text" class="form-control" id="location" placeholder="Location">
        </div>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2">Update Stadium</button>
      </div>
    </div>
  </form>
{% endblock %}