.search-form {
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
}

.search-form input, .search-form select, .form-group input, .form-group select{
    background-color : #d1d1d1;
    border-color: blueviolet;
}

.search-form label {
    margin-right: 1%;
}

.form-group input,  .form-group select {
    margin-bottom: 1%;
}

.search-form input, .search-form select {
    margin-right: 4%;
}