<html>
  <head>
    <title>PokeBattle - A Pokemon Battle Web Application</title>
  </head>
  <body>
    <h1>PokeBattle</h1>
    {% include 'navbar.j2' %}
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>