{% extends 'base.j2' %}

{% block content %}
  <h2>Current Battles</h2>
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">Battle #</th>
        <th scope="col">Date</th>
        <th scope="col">Location</th>
        <th scope="col">Winner</th>
        <th scope="col">Loser</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for battle in battles %}
      <tr>
        <th scope="row">{{ battle['battle_id'] }}</th>
        <td>{{ battle['date'] }}</td>
        <td>{{ battle['location'] }}</td>
        <td>{{ battle['winner'] }}</td>
        <td>{{ battle['loser'] }}</td>
        <td>
          <a class="navbar-brand" href="updatebattle/{{battle['battle_id']}}">
            <img src="/static/img/pokeball.png" alt="update" width="40" height="40">
          </a>
        </td>
        <td>
          <a class="navbar-brand" href="deletebattle/{{battle['battle_id']}}">
            <img src="/static/img/open_pokeball.png" alt="delete" width="40" height="40">
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}