{% extends 'base.j2' %}

{% block content %}
  <h2>Welcome to PokeBattle</h2>
  <p>
    The Indigo League is searching all over Kanto for the next Pokemon Master. Training Pokemon and battling with other 
    Trainers is a time honored tradition in this part of the world. The Indigo League is looking for fresh talent that 
    has what it takes to become a Pokemon Master. This web application helps track the results of League sanctioned battles.
  </p>
{% endblock %}