{% extends 'base.j2' %}

{% block content %}
  <h2>Current Pokemon</h2>
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">Pokemon #</th>
        <th scope="col">Nickname</th>
        <th scope="col">Gender</th>
        <th scope="col">Level</th>
        <th scope="col">Species</th>
        <th scope="col">Trainer</th>
        <th scope="col">Add Battle</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for pokemon in all_pokemon %}
      <tr>
        <th scope="row">{{ pokemon['pokemon_id'] }}</th>
        <td>{{ pokemon['nickname'] }}</td>
        <td>{{ pokemon['gender'] }}</td>
        <td>{{ pokemon['level'] }}</td>
        <td>{{ pokemon['species'] }}</td>
        <td>{{ pokemon['trainer'] }}</td>
        <td>
          <a class="navbar-brand" href="{{ url_for('addpokebattle') }}">
            <img src="/static/img/pokecrown.png" alt="update" width="40" height="40">
          </a>
        </td>
        <td>
          <a class="navbar-brand" href="updatepokemon/{{pokemon['pokemon_id']}}">
            <img src="/static/img/pokeball.png" alt="update" width="40" height="40">
          </a>
        </td>
        <td>
          <a class="navbar-brand" href="deletepokemon/{{pokemon['pokemon_id']}}">
            <img src="/static/img/open_pokeball.png" alt="delete" width="40" height="40">
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <br>
  <h5>Search for a Pokemon</h5>
  <form action="#" method="get">
    <div class="search-form">
      <label for="nickname">Nickname (optional)</label>
      <input type="text" class="form-control" id="nickname">

      <label for="species">Species</label>
      <select id="species" class="form-select">
        {% for species in all_species %}
          <option value="{{species.species}}">{{ species.species }}</option>
        {% endfor %}
      </select>

      <label for="trainer">Trainer (optional)</label>
      <select id="trainer" class="form-select">
        <option value="None"></option>
        {% for trainer in trainers %}
          <option value="{{trainer.name}}">{{ trainer.name }}</option>
        {% endfor %}
      </select>

      <label for="level" class="form-label">Level (optional)</label>
      <input type="number" min="0" class="form-control" id="level">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>

{% endblock %}