{% extends 'base.j2' %}

{% block content %}
  <h2>Current Pokemon Species</h2>
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">Pokedex #</th>
        <th scope="col">Species</th>
        <th scope="col">Type</th>
        <th scope="col">Secondary Type</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for species in all_species %}
      <tr>
        <th scope="row">{{ species['pokedex_id'] }}</th>
        <td>{{ species['species'] }}</td>
        <td>{{ species['type'] }}</td>
        <td>{{ species['secondary_type'] }}</td>
        <td>
          <a class="navbar-brand" href="{{ url_for('updatespecies') }}">
            <img src="/static/img/pokeball.png" alt="update" width="40" height="40">
          </a>
        </td>
        <td>
          <a class="navbar-brand" href="#">
            <img src="/static/img/open_pokeball.png" alt="delete" width="40" height="40">
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}