{% extends 'base.j2' %}

{% block content %}
  <h2>Current Stadiums</h2>
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">Stadium #</th>
        <th scope="col">Stadium Name</th>
        <th scope="col">Location</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for stadium in stadiums %}
      <tr>
        <th scope="row">{{ stadium['stadium_id'] }}</th>
        <td>{{ stadium['name'] }}</td>
        <td>{{ stadium['location'] }}</td>
        <td>
          <a class="navbar-brand" href="updatestadium/{{stadium['stadium_id']}}">
            <img src="/static/img/pokeball.png" alt="update" width="40" height="40">
          </a>
        </td>
        <td>
          <a class="navbar-brand" href="#">
            <img src="/static/img/open_pokeball.png" alt="delete" width="40" height="40">
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}